<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
</head>
<body>
    <div id ="board">
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='post in posts'>
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.author}}</td>
                    <td>{{post.date}}</td>
                </tr>
            </tbody>
        </table>
        <p>
            <button @click="prev">Previous</button> | {{currentPage + 1}}/{{maxPage}} | <button v-on:click="next">Next</button>
        </p>
    </div>  
    <!-- 작성 폼 -->
    <div id ="boardWirter">
        <form action="#" id ="frm">
            <div>
                <label for="title">Title : </label>
            </div>
            <div>
                <input type="text" id ="title" name="title"/>
            </div>
            <div>
                <label for="content">Content : </label>
            </div>
            <div>
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
            </div>
            <div>
                <input type ="submit" id ="submit" value="전송" />
            </div>
        </form>
    </div>
    <script>
        (function(){
            var frm = document.querySelector('#frm');   
            var sumbit =  document.querySelector('#submit');
            
            sumbit.addEventListener('click', function(e){
                e.preventDefault();
                var data = new FormData(frm);              
                console.log(data)  
 
                fetch('/api/board/insert',{
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        title : document.querySelector('#title').value, 
                        content :  document.querySelector('#content').value          
                    })
                }).then(response => response.json())
                  .then((json)=>{
                        console.log(json)
                        board.getBoardPaging();
                    }).catch((error)=>{
                        console.log(error)
                    })
            })
        })();
  
        var board = new Vue({
            el : '#board',
            data :{
                posts : [],
                currentPage : 0,
                sort : "desc",
                size : 10,
                maxPage : 0
            },
            created(){
                this.getBoardPaging();
            },
            methods :{
                prev : function(){
                    if(this.currentPage !=0){
                        this.currentPage--;
                        this.getBoardPaging();
                    }
                },
                next : function(){
                    if(this.currentPage < this.maxPage -1 ){
                        this.currentPage++;
                        this.getBoardPaging();
                    }
                },
                getBoard : function(){
                    fetch('/api/board/all')
                    .then(response => response.json())
                    .then((json)=>{
                        this.rendar(json)
                        // console.log(json)
                    }).catch((error)=>{
                        console.log(error)
                    })
                },
                rendar : function(data ={}){
                    this.posts = [];
                    data.forEach(element => {
                            this.posts.push({
                                id : element.id,
                                title : element.title,
                                author : element.author,
                                date : element.date
                            })
                        });
                },
                getBoardPaging :function(){
                    var params = {
                        page : this.currentPage,
                        size : this.size,
                        sort : this.sort
                    }
                    var esc = encodeURIComponent;
                    var query = Object.keys(params)
                        .map(k => esc(k) + '=' + esc(params[k])).join('&');
                    fetch('/api/board?' + query)
                    .then(response => response.json())
                    .then((json)=>{
                        this.maxPage = json.totalPages; // json.last = true 
                        var data = json.content;
                        this.rendar(data)
                        console.log(json)
                    }).catch((error)=>{
                        console.log(error)
                    })
                },
            }
        });

    </script>
</body>
</html>