<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <h1>안녕하세요</h1>
    
    <ul>
        <li><a href="/board">게시판 가기</a></li>
        <li><a href="/board/vue">게시판 가기(Vue버전)</a></li>
        <li><a href="/board/posting">글 작성</a></li>
        <li><a href="/swagger-ui.html">Swagger</a></li>
    </ul>
</body>
</html>